.App {
  text-align: center;
  height: 100%;
}
.head{
  background-color: black;
  color: white;
}
.head h2{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}
